    @charset "utf-8";

    body {
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
        "游ゴシック", "Yu Gothic", sans-serif;
        
        
    }

    main{
        max-width: 1080px;
       margin: 0 auto;
        justify-content: center;
    }

    a {
        color: black;
        font-weight: bolder;
        text-decoration: none;
        display: inline-block;
        cursor:pointer;
        
    }

    a:hover{
        color: #474747;
        font-weight: lighter;
        transition:  0.3s ease-out;
        transform: translateY(-3px);
    }



    ul {
        list-style: none;
    }

    .main-navigation1{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white; 
        z-index: 1000;             
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        
    }


    .main-navigation1 .logo_01{
        width: 20%;
    }
    .main-navigation1 img{
        width: 200px;
    }


    .main-navigation1 ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 70%;
        
    }

     h1{
        text-align: center;
        
        
    }
    
    hr {
    width: 94%;
    margin: 20px auto;
}

    .p1 {
    font-weight: bold;
    background-color: #e2b986;
    display: inline;

    }

    /*******************
        ホームページ
    *******************/



    .main-visual {
        max-width: 100%;
        margin: 0 auto;
    }

    .main-visual-image  {
        width: 100%;    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logoup {
        width: 50%;
       display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .logoup img{
        width: 90%;
    }

    .mainvisual01 {
        width: 50%;
    }

    .mainvisual01 img{
        width: 100%;
    }


    .main-navigation ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        
    }


    .indtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    /*******************
        　アティック
    *******************/


    .article{
        background-color: #b7b7b7;
        
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto; 
        gap: 30px; 
        border-radius: 5px;
        
    }

    .article p{
        margin-left: 30px;
        color: aliceblue;
    }

    section{
        margin-top: 30px;
    
        
        width: 100%;
    }

    section iframe{
        width: 90%;
        display: block;
        margin: 10px auto;
        border-radius: 10px;
    }

    /*******************        
        　 フッター
    *******************/

    .footer {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
        
    }

    .sns{
        width: 60%;
        display: flex;
        justify-content: space-between;
        max-width: 265px;

    }

    .sns img{
        width: 20px;
        height: 20px;
    }

    /********************
            ニュース
    *******************/


    .news{
        
        max-width: 800px;
        display: contents;
        
        
    }

    .cat-time{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        
    }
    .cat-time p{
        margin-bottom: 0px;

    }


    .news-cat{
        background-color: #5b5e7e;
        color: aliceblue;
        width: 70px;
        margin-right: 10px;
        text-align: center;
        
    }

    .news-time{
        color: #777777;
        font-size: medium;
        font-weight: bold;
    }


    .news-content {
        background-color: #dedede;
        margin-bottom: 50px;
        padding-left: 30px;
        padding-top: 30px;
        display: none;
    }

    .news-content>:last-child{
        margin-bottom: 0;
        padding-bottom: 20px;
    }


    .news-content img{
        margin-left: 30px;
        max-height: 640px;
        max-width: 453px;
    }

    .news-content p{
        margin-left: 30px;
    }

    .news-content a{
        color: rgb(88, 88, 253);
    }

    .news-content iframe{
        margin-left: 30px;
    }

    
     /*******************        
        　 バイオ
    *******************/


    .bioimg{
        display: flex;
        justify-content: center;
        margin: 0px 0px auto;
    }

    .bio-text{
        display: flex;
        justify-content: flex-start;
    }

    
    
    .event {
    position: relative;
    margin-bottom: 20px;
    }

    .event time {
    position: absolute;
    left: -20px;
    top: 0;
    font-weight: bold;
    }

    .event p {
    margin-left: 150px;
    padding-left: 10px;
    border-left: 2px solid #000;
    }

    .member{
        width: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
    }

    


    .memberimg{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    
    }

    



    .hold-name{
        position: relative;
        max-width: 2000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .hold{
        position: absolute;
        color: #6b6b6bcd;
        font-weight: bold;
    }
    .name{
        font-size: 23px;
        margin-left: 60px;
        margin-top: 9px;
    }

    .member img{
        width: 500px;
              
    }

    .inf{
        margin-left: 300px;

    }
    .inf img{
        width: 20px;
        height: 20px;
    }

    /*******************        
        　 ディスコ
    *******************/

    .album{
         display: flex; 
         justify-content: space-between; 
    }


    .left{
         width: 30%; 
    }


    .right{
         width: 60%; 
    }


    .disco-list img{
         margin-top: 20px; 
         width: 300px; 
    }


    p.dis-title {
         font-size: 16px; 
         font-weight: 700; 
    }


    p.dis-text {
         font-size: 12px; 
    }


    .disco-list li {
         margin-bottom: 40px; 
    }


    .disco-list hr{
         width: 100%; 
    }

    .a-title{
        font-size: 28px;
        font-weight: bold;
    }

    .right a{
        color: blue;
    }
    